extend layout

block content

  section#content
    include content_header.jade
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-9.col-md-9.col-sm-8
          // Accordions
          ul.accordions.toggles
            // Accordion
            li.accordion
              .accordion-header
                .accordion-icon
                h6 2013
              .accordion-content
                ul.accordions
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
            // /Accordion
            // Accordion
            li.accordion
              .accordion-header
                .accordion-icon
                h6 2014
              .accordion-content
                ul.accordions
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
            // /Accordion
            // Accordion
            li.accordion
              .accordion-header
                .accordion-icon
                h6 2015
              .accordion-content
                ul.accordions
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
            // /Accordion
            // Accordion
            li.accordion
              .accordion-header
                .accordion-icon
                h6 2016
              .accordion-content
                ul.accordions
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
                  // Accordion
                  li
                    .post-content
                      .post-side-meta
                        .date1
                          span.day 1
                      .post-header.post-artcle-header
                        h3
                          a(href='blog-single-sidebar.html')
                            | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        .post-meta
                          span
                            | by 
                            a(href='#') admin
                          span
                            | in 
                            a(href='#') Politics
                            | , 
                            a(href='#') Meetings
                  // /Accordion
            // /Accordion
        include sidebar.jade
    // /Section
