extend layout

block content

  section#content
    // Page Heading
    section.section.page-heading.animate-onscroll
      h1 联系我们
      p.breadcrumb
        a(href='main-v1.html') ContactUs
    // Page Heading
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-9.col-md-9.col-sm-8
          h3 We want to hear from you
          p
            | Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. 
            br
            br
            | Fields marked * are mandatory.
          br
          form#contact-form(action='php/contact-form.php', method='POST')
            .inline-inputs
              .col-lg-6.col-md-6.col-sm-12
                label Email address*
                input(type='text', name='contact-email')
              .col-lg-6.col-md-6.col-sm-12
                label First name*
                input(type='text', name='contact-firstname')
              .col-lg-6.col-md-6.col-sm-12
                label Last name*
                input(type='text', name='contact-lastname')
              .col-lg-6.col-md-6.col-sm-12
                label Address
                input(type='text', name='contact-address')
              .col-lg-6.col-md-6.col-sm-12
                label City
                input(type='text', name='contact-city')
              .col-lg-6.col-md-6.col-sm-12
                label State
                select.chosen-select(name='contact-state')
                  option(value='United States') US
                  option(value='Germany') Germany
                  option(value='France') France
                  option(value='Spain') Spain
              .col-lg-2.col-md-2.col-sm-5
                label Zip code*
                input(type='text', name='contact-zip')
              .col-lg-5.col-md-5.col-sm-7
                label Phone
                input(type='text', name='contact-phone')
              .col-lg-5.col-md-5.col-sm-12
                label Subject
                input(type='text', name='contact-subject')
              .col-lg-12.col-md-12.col-sm-12
                label Your questions/comments
                textarea(rows='10', name='contact-message')
            input(type='submit', value='submit')
        
        include sidebar.jade
  // /Section
