// Content_Header

block content_header
  section#content
    // Page Heading
    section.section.page-heading.animate-onscroll
      h1 #{content_type_cn}
      p.breadcrumb #{content_type}
    // Page Heading
