extend layout

block content

section#content
  // Page Heading
  section.section.page-heading.animate-onscroll
    h1 新闻动态
    p.breadcrumb The datail of news
  // Page Heading
  // Section
  section.section.full-width-bg.gray-bg
    .row
      .col-lg-12.col-md-12.col-sm-12
        // Single Blog Post
        .blog-post-single.fullwidth-post
          .post-side-meta.animate-onscroll
            .date(style='padding-Top:0')
              span.day 17
              span.month DEC
            .post-comments
              a(href='blog-single-sidebar.html#comments')
                i.icons.icon-chat-empty
                |  13
          h1(style='margin-Top:20px') 震惊！男子竟做出这种事
          .post-meta.animate-onscroll
            span
              | by 
              a(href='#') admin
            span
              | in 
              a(href='#') Politics
              | , 
              a(href='#') Videos
          .post-content
            p.animate-onscroll.no-margin-bottom
              | Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit.
            .row
              .col-lg-6.col-md-6.col-sm-6.animate-onscroll
                p
                  | Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia
                p
                  | fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit.
                  | Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
                  | Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.
              .col-lg-6.col-md-6.col-sm-6.animate-onscroll
                p
                  | Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
                p
                  | Vestibulum sed ante. Donec sagittis euismod purus.Sed ut perspiciatis sit voluptatem accusantium doloremque laudantium, totam rem.
          // Post Meta Track
          .post-meta-track.animate-onscroll
            table.project-details
              tr
                td.share-media
                  ul.social-share
                    li Share this:
                    li.facebook
                      a.tooltip-ontop(href='#', title='Facebook')
                        i.icons.icon-facebook
                    li.twitter
                      a.tooltip-ontop(href='#', title='Twitter')
                        i.icons.icon-twitter
                    li.google
                      a.tooltip-ontop(href='#', title='Google Plus')
                        i.icons.icon-gplus
                    li.pinterest
                      a.tooltip-ontop(href='#', title='Pinterest')
                        i.icons.icon-pinterest-3
                    li.email
                      a.tooltip-ontop(href='#', title='Email')
                        i.icons.icon-mail
                td.tags
                  | Tags: 
                  a(href='#') meeting
                  | , 
                  a(href='#') politics
                  | , 
                  a(href='#') photos
          // /Post Meta Track
          // Pagination
          // /Pagination
          // Post Author
          // /Post Author
          // /Single Blog Post
          // Related Articles
          // /Post Comments
  // /Section
