// Footer
footer#footer

  // Main Footer
  #main-footer
    .row
      .col-lg-3.col-md-3.col-sm-6.animate-onscroll
        h4#related-links 相关链接
        ul.menu
          li
            a.links-item(href='http://www.ncbi.nlm.nih.gov/pubmed') NCBI生物医学论文数据库
          li
            a.links-item(href='http://www.iucngisd.org/gisd/') GISD全球入侵物种数据库
          li
            a.links-item(href='http://www.chinaias.cn/wjPart/index.aspx') 中国外来入侵物种数据库
          li
            a.links-item(href='http://www.ebi.ac.uk/') 欧洲生物信息学组织
          li
            a.links-item(href='http://www.ensembl.org/index.html') Ensembl基因组浏览数据库
      .col-lg-6.col-md-6.col-sm-6.animate-onscroll
        div.row
          h4#authors 作者
          .col-lg-4.col-md-4.col-sm-6.col-xs-6
            p.authors-item 陈泽宇
            p.authors-item 陈子恒
            p.authors-item 陈宇文
          .col-lg-4.col-md-4.col-sm-6.col-xs-6
            p.authors-item 丁锦棠
            p.authors-item 龚科
            p.authors-item 杨靖
        div.row
          p © 2016 重要热带病传播入侵媒介及病原体生物学特性研究平台 All Rights Reserved.
      .col-lg-3.col-md-3.col-sm-6.animate-onscroll
        h4#publishment-img 推广公众号
        .sidebar-box.image-banner.animate-onscroll
          a(href='#')
            img(src='/img/main-issues.jpg', alt='')
  // /Main Footer

// /Footer

// Back To Top
a#button-to-top(href='#')
  i.icons.icon-up-dir