// Header
header#header.animate-onscroll
  // Main Header
  #main-header
    .container
      .row
        // Logo
        #logo.col-lg-3.col-md-3.col-sm-3
          a(href='/index')
            img(src='/img/logo.png', alt='Logo')
        // /Logo
        // Main Quote
        .col-lg-5.col-md-4.col-sm-4
          h3
            | 重要热带病传播入侵媒介及病原体生物学特性研究平台
            br
            | Key Research Platform
        // /Main Quote
        // Newsletter
        .col-lg-4.col-md-5.col-sm-5
          form#newsletter(action='/php/newsletter-form.php', method='POST')
            h5
              strong
                a(href='/register')
                  u Sign up
              |  for email updates
            .newsletter-form
              .newsletter-email
                input(type='text', name='username', placeholder='Email address')
              .newsletter-zip
                input(type='text', name='password', placeholder='Zip code')
              .newsletter-submit
                input(type='submit', value='')
                i.icons.icon-right-thin
        // /Newsletter
  // /Main Header

  // Lower Header
  #lower-header
    .container
      #menu-button
        div
          span
          span
          span
        span Menu
      ul#navigation
        // Home
        li.home-button.current-menu-item
          a(href='/index')
            i.icons.icon-home
        // /Home
        li
          a(href='/project') 关于项目
        li
          a(href='/team') 研究团队
        li
          a(href='/news') 新闻动态
        li
          a(href='/notification') 最新公告
        li
          a(href='/conference') 学术交流
        li
          a(href='/data_tool') 数据工具
        li.donate-button
          a(href='/contact') 联系我们
  // /Lower Header
// /Header