// Header
header#header.animate-onscroll
  // Main Header
  #main-header
    .container
      .row
        // Logo
        #logo.col-lg-3.col-md-3.col-sm-3
          a(href='/index')
            img(src='/img/logo.png', alt='Logo')
        // /Logo
        // Main Quote
        .col-lg-3.col-md-2.col-sm-2
          h3
            | 重要热带病传播入侵媒介及病原体生物学特性研究平台
            br
            | Key Research Platform
        .col-lg-2.col-md-2.col-sm-2
          button#language-changer-button
            | CN/EN
        // /Main Quote
        // Newsletter
        .col-lg-4.col-md-5.col-sm-5
          form#newsletter(action='/login', method='POST')
            h5#newsletter-header
              strong
                a(href='/register')
                  u 注册
              |  以登陆研究平台
            .newsletter-form
              .newsletter-email
              input#newsletter-input-username(type='text', name='username', placeholder='请输入账号')
              .newsletter-zip
              input#newsletter-input-password(type='password', name='password', placeholder='请输入密码')
              .newsletter-submit
                input(type='submit', value='')
                i.icons.icon-right-thin
        // /Newsletter
  // /Main Header

  // Lower Header
  #lower-header
    .container
      #menu-button
        div
          span
          span
          span
        span Menu
      ul#navigation
        // Home
        li.home-button.current-menu-item
          a(href='/index')
            i.icons.icon-home
        // /Home
        li
          a.Menu-a(href='/project') 关于项目
        li
          a.Menu-a(href='/team') 研究团队
        li
          a.Menu-a(href='/news') 新闻动态
        li
          a.Menu-a(href='/notification') 最新公告
        li
          a.Menu-a(href='/conference') 学术交流
        li
          a.Menu-a(href='/data_tool') 数据工具
        li.donate-button
          a.Menu-a(href='/contact') 联系我们
  // /Lower Header
// /Header
