<!DOCTYPE html>
<html>
<head>
	<title>重要热带病传播入侵媒介及病原体生物学特性研究平台</title>
	<link rel="stylesheet" type="text/css" href="mystyle.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="mystyle.js"></script>
	<meta charset="utf-8">
</head>
<body class="container">
	<div class="header row">
		<img src="image/yiyuanlogo.png" class="img-responsive col-md-2" />
		<h1 class="col-md-6">重要热带病传播入侵媒介及病原体生物学特性研究平台</h1>
	</div>
	<div class="navigation-bar">
		<ul class="nav nav-pills nav-justified nav-tabs">
			<li class="active"><a href="#">首页</a></li>
			<li><a href="#">项目介绍</a></li>
			<li><a href="#">研究团队</a></li>
			<li><a href="#">新闻动态</a></li>
			<li><a href="#">通知公告</a></li>
			<li><a href="#">发表文章</a></li>
			<li><a href="#">学术交流</a></li>
			<li><a href="#">数据工具</a></li>
		</ul>
	</div>
	<div class="content">
		<div class="left-part"></div>
		<div class="right-part">
			<div class="news"></div>
			<div class="notification"></div>
			<div class="related-unit"></div>
		</div>
	</div>
	<div class="footer row">
		<div class="external-link col-md-4">
			<a href="http://www.sysu.edu.cn"><img src="image/logo.jpg" class="img-responsive" /></a>
		</div>
		<dir class="copytright col-md-6">
			<h4>团队成员</h4>
			<div>				
				<span>陈宇文</span>
				<span>陈泽宇</span>
				<span>陈子恒</span>
				<span>丁锦棠</span>
				<span>龚科</span>
				<span>杨靖</span>
			</div>
		</dir>
		<div class="QR-code col-md-2">
			<img src="image/QR_code.jpg" class="img-responsive" />
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>