extend layout

block content

  section#content
    // Page Heading
    section.section.page-heading.animate-onscroll
      h1 最新公告
      p.breadcrumb
        a(href='main-v1.html') Home
        |  / Page With Right Sidebar
    // Page Heading
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-9.col-md-9.col-sm-8
          ul.accordions
            // Accordion
            li
              .post-content
                .post-side-meta
                  .date
                    span.day 17
                    span.month DEC
                .post-header
                  h2
                    a(href='blog-single-sidebar.html')
                      | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                  .post-meta
                    span
                      | by 
                      a(href='#') admin
                    span
                      | in 
                      a(href='#') Politics
                      | , 
                      a(href='#') Meetings
                .post-exceprt
                  a.button.read-more-button.big.button-arrow(href='blog-single-sidebar.html') Read More
            // /Accordion
            // Accordion
            li
              .post-content
                .post-side-meta
                  .date
                    span.day 17
                    span.month DEC
                .post-header
                  h2
                    a(href='blog-single-sidebar.html')
                      | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                  .post-meta
                    span
                      | by 
                      a(href='#') admin
                    span
                      | in 
                      a(href='#') Politics
                      | , 
                      a(href='#') Meetings
                .post-exceprt
                  a.button.read-more-button.big.button-arrow(href='blog-single-sidebar.html') Read More
            // /Accordion
            // Accordion
            li
              .post-content
                .post-side-meta
                  .date
                    span.day 17
                    span.month DEC
                .post-header
                  h2
                    a(href='blog-single-sidebar.html')
                      | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                  .post-meta
                    span
                      | by 
                      a(href='#') admin
                    span
                      | in 
                      a(href='#') Politics
                      | , 
                      a(href='#') Meetings
                .post-exceprt
                  a.button.read-more-button.big.button-arrow(href='blog-single-sidebar.html') Read More
            // /Accordion
          .numeric-pagination
            a.button(href='#')
              i.icons.icon-left-dir
            a.button(href='#') 1
            a.button(href='#') 2
            a.button(href='#') 3
            a.button(href='#')
              i.icons.icon-right-dir
        // Sidebar
        .col-lg-3.col-md-3.col-sm-4.sidebar
          .social-media.animate-onscroll
            span.small-caption Get connected:
            ul.social-icons
              li.facebook
                a.tooltip-ontop(href='#', title='Facebook')
                  i.icons.icon-facebook
              li.twitter
                a.tooltip-ontop(href='#', title='Twitter')
                  i.icons.icon-twitter
              li.google
                a.tooltip-ontop(href='#', title='Google Plus')
                  i.icons.icon-gplus
              li.youtube
                a.tooltip-ontop(href='#', title='Youtube')
                  i.icons.icon-youtube-1
              li.flickr
                a.tooltip-ontop(href='#', title='Flickr')
                  i.icons.icon-flickr-4
              li.email
                a.tooltip-ontop(href='#', title='Email')
                  i.icons.icon-mail
          // Featured Video
          // /Featured Video
          // Upcoming Events
          .sidebar-box.white.animate-onscroll
            h3 新闻动态
            ul.upcoming-events
              // Event
              li
                .date
                  span
                    span.day 25
                    span.month DEC
                .event-content
                  h6
                    a(href='event-post-v2.html') Sed in lacus ut enim
                  ul.event-meta
                    li
                      i.icons.icon-clock
                      |  4:00 pm - 6:00 pm
                    li
                      i.icons.icon-location
                      |  340 W 50th St.New York
              // /Event
              // Event
              li
                .date
                  span
                    span.day 5
                    span.month JAN
                .event-content
                  h6
                    a(href='event-post-v2.html') Sed in lacus ut enim
                  ul.event-meta
                    li
                      i.icons.icon-clock
                      |  4:00 pm - 6:00 pm
                    li
                      i.icons.icon-location
                      |  340 W 50th St.New York
              // /Event
              // Event
              li
                .date
                  span
                    span.day 8
                    span.month JAN
                .event-content
                  h6
                    a(href='event-post-v2.html') Sed in lacus ut enim
                  ul.event-meta
                    li
                      i.icons.icon-clock
                      |  4:00 pm - 6:00 pm
                    li
                      i.icons.icon-location
                      |  340 W 50th St.New York
              // /Event
            a.button.transparent.button-arrow(href='#') More events
          // /Upcoming Events
        // /Sidebar
    // /Section
