doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    .navigation
      a(href="/index") Index
      br
      a(href="/notification") Notification
      br
      a(href="/member") Member
      br
      a(href="/member/zhangsan") MemberA
      br
      a(href="/news/ne_id=666") NewsB
    block content
