extend layout

block content

  section#content
    include content_header.jade
    // Section
    section.section.full-width-bg.gray-bg
      .row
        .col-lg-9.col-md-9.col-sm-8
          ul.accordions
            for item in list_items
              // Accordion
              li
                .post-content
                  .post-side-meta
                    .date
                      span.day 17
                      span.month DEC
                  .post-header
                    h2
                      a(href=item.link)
                        | #{item.title}
                    .post-meta
                      span
                        | by 
                        a(href='#') admin
                      span
                        | in 
                        a(href='#') Politics
                        | , 
                        a(href='#') Meetings
                  .post-exceprt
                    a.button.read-more-button.big.button-arrow(href=item.link) Read More
              // /Accordion
          .numeric-pagination
            a.button(href='#')
              i.icons.icon-left-dir
            a.button(href='#') 1
            a.button(href='#') 2
            a.button(href='#') 3
            a.button(href='#')
              i.icons.icon-right-dir
        
        include sidebar.jade
    // /Section
