extend layout

block content

section#content
  // Page Heading
  section.section.page-heading.animate-onscroll
    h1 项目已发表的文章
    p.breadcrumb
      a(href='main-v1.html') Home
      |  / Page With Right Sidebar
  // Page Heading
  // Section
  section.section.full-width-bg.gray-bg
    .row
      .col-lg-9.col-md-9.col-sm-8
        // Accordions
        ul.accordions.toggles
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 2013
            .accordion-content
              ul.accordions
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
          // /Accordion
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 2014
            .accordion-content
              ul.accordions
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
          // /Accordion
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 2015
            .accordion-content
              ul.accordions
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
          // /Accordion
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 2016
            .accordion-content
              ul.accordions
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
                // Accordion
                li
                  .post-content
                    .post-side-meta
                      .date1
                        span.day 1
                    .post-header.post-artcle-header
                      h3
                        a(href='blog-single-sidebar.html')
                          | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                      .post-meta
                        span
                          | by 
                          a(href='#') admin
                        span
                          | in 
                          a(href='#') Politics
                          | , 
                          a(href='#') Meetings
                // /Accordion
          // /Accordion
      // Sidebar
      .col-lg-3.col-md-3.col-sm-4.sidebar
        .social-media.animate-onscroll
          span.small-caption Get connected:
          ul.social-icons
            li.facebook
              a.tooltip-ontop(href='#', title='Facebook')
                i.icons.icon-facebook
            li.twitter
              a.tooltip-ontop(href='#', title='Twitter')
                i.icons.icon-twitter
            li.google
              a.tooltip-ontop(href='#', title='Google Plus')
                i.icons.icon-gplus
            li.youtube
              a.tooltip-ontop(href='#', title='Youtube')
                i.icons.icon-youtube-1
            li.flickr
              a.tooltip-ontop(href='#', title='Flickr')
                i.icons.icon-flickr-4
            li.email
              a.tooltip-ontop(href='#', title='Email')
                i.icons.icon-mail
        // Featured Video
        // /Featured Video
        // Upcoming Events
        .sidebar-box.white.animate-onscroll
          h3 新闻动态
          ul.upcoming-events
            // Event
            li
              .date
                span
                  span.day 25
                  span.month DEC
              .event-content
                h6
                  a(href='event-post-v2.html') Sed in lacus ut enim
                ul.event-meta
                  li
                    i.icons.icon-clock
                    |  4:00 pm - 6:00 pm
                  li
                    i.icons.icon-location
                    |  340 W 50th St.New York
            // /Event
            // Event
            li
              .date
                span
                  span.day 5
                  span.month JAN
              .event-content
                h6
                  a(href='event-post-v2.html') Sed in lacus ut enim
                ul.event-meta
                  li
                    i.icons.icon-clock
                    |  4:00 pm - 6:00 pm
                  li
                    i.icons.icon-location
                    |  340 W 50th St.New York
            // /Event
            // Event
            li
              .date
                span
                  span.day 8
                  span.month JAN
              .event-content
                h6
                  a(href='event-post-v2.html') Sed in lacus ut enim
                ul.event-meta
                  li
                    i.icons.icon-clock
                    |  4:00 pm - 6:00 pm
                  li
                    i.icons.icon-location
                    |  340 W 50th St.New York
            // /Event
          a.button.transparent.button-arrow(href='#') More events
        .sidebar-box.category-box.white.animate-onscroll
          h3 最新公告
          ul
            li
              a(href='#') Clothing
            li
              a(href='#') Music
            li
              a(href='#') Posters
          a.button.transparent.button-arrow(href='#') More events
        // /Upcoming Events
        // Image Banner
        // /Flickr Photos
      // /Sidebar
  // /Section
