extend layout

block content

section#content
  // Page Heading
  section.section.page-heading.animate-onscroll
    h1 关于项目
    p.breadcrumb List all the project
  // Page Heading
  // Section
  section.section.full-width-bg.gray-bg
    .row
      .col-lg-9.col-md-9.col-sm-8.col-lg-push-3.col-md-push-3.col-sm-push-4
        h3.animate-onscroll.no-margin-top
          i INTRODUCTION
        .tab
          table.project-details
            tr
              td(style='width:100px', valign='top', margin='10px')
                strong
                  | 基本信息:
                  strong
              td
                img.align-right.animate-onscroll(src='img/about2.jpg', alt='')
                p.animate-onscroll(style='margin-top:0px')
                  | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor.
                p.animate-onscroll
                  | Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                p.animate-onscroll
                  | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,nsectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.
            tr
              td(style='width:100px', valign='top', margin='10px')
                strong 项目进展:
              td
                p.animate-onscroll(style='margin-top:0px')
                  | Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor.
                a(href='projectNew.html')
                  u 更多
            tr
              td(style='width:100px', valign='top', margin='10px')
                strong 相关数据库:
              td
                a(href='#') 点击进入数据库
            tr
              td(style='width:100px', valign='top', margin='10px')
                strong 已发表文章:
              td
                ul.project-link(style='padding:0px;margin-Left:15px')
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
            tr
              td(style='width:100px', valign='top', margin='10px')
                strong 相关文章:
              td
                ul.project-link(style='padding:0px;margin-Left:15px')
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
                  li
                    a(href='#') file:///G:/%E6%A8%A1%E6%9D%BF/mbts_13_candidate/aboutproject.html#tab1
      // Sidebar
      .col-lg-3.col-md-3.col-sm-4.col-lg-pull-9.col-md-pull-9.col-sm-pull-8.sidebar
        h3(style='margin-top:0') 所有项目
        // Accordions
        ul.accordions
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 Section 1
            .accordion-content
              .tab-header
                ul
                  li
                    a(href='#tab1')
                      h6 Section 1
                  li
                    a(href='#tab2')
                      h6 Section 2
                  li
                    a(href='#tab3')
                      h6 Section 3
          // /Accordion
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 Section 2
            .accordion-content
              .tab-header
                ul
                  li
                    a(href='#tab1')
                      h6 Section 1
                  li
                    a(href='#tab2')
                      h6 Section 2
                  li
                    a(href='#tab3')
                      h6 Section 3
          // /Accordion
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 Section 2
            .accordion-content
              .tab-header
                ul
                  li
                    a(href='#tab1')
                      h6 Section 1
                  li
                    a(href='#tab2')
                      h6 Section 2
                  li
                    a(href='#tab3')
                      h6 Section 3
          // /Accordion
          // Accordion
          li.accordion
            .accordion-header
              .accordion-icon
              h6 Section 4
            .accordion-content
              .tab-header
                ul
                  li
                    a(href='#tab1')
                      h6 Section 1
                  li
                    a(href='#tab2')
                      h6 Section 2
                  li
                    a(href='#tab3')
                      h6 Section 3
          // /Accordion
        .social-media.animate-onscroll
          span.small-caption Get connected:
          ul.social-icons
            li.facebook
              a.tooltip-ontop(href='#', title='Facebook')
                i.icons.icon-facebook
            li.twitter
              a.tooltip-ontop(href='#', title='Twitter')
                i.icons.icon-twitter
            li.google
              a.tooltip-ontop(href='#', title='Google Plus')
                i.icons.icon-gplus
            li.youtube
              a.tooltip-ontop(href='#', title='Youtube')
                i.icons.icon-youtube-1
            li.flickr
              a.tooltip-ontop(href='#', title='Flickr')
                i.icons.icon-flickr-4
            li.email
              a.tooltip-ontop(href='#', title='Email')
                i.icons.icon-mail
          ul.social-buttons
            li
            li.facebook-share
              .fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-type='button_count')
        // Featured Video
      // /Sidebar
  // /Section
