// Sidebar
.col-lg-3.col-md-3.col-sm-4.sidebar
  if content_type != 'news'
    .sidebar-box.white.animate-onscroll
      h3 新闻动态
      ul.upcoming-events
        // Event
        li
          .date
            span
              span.day 25
              span.month DEC
          .event-content
            h6
              a(href='event-post-v2.html') Sed in lacus ut enim
            ul.event-meta
              li
                i.icons.icon-clock
                |  4:00 pm - 6:00 pm
              li
                i.icons.icon-location
                |  340 W 50th St.New York
        // /Event
        // Event
        li
          .date
            span
              span.day 5
              span.month JAN
          .event-content
            h6
              a(href='event-post-v2.html') Sed in lacus ut enim
            ul.event-meta
              li
                i.icons.icon-clock
                |  4:00 pm - 6:00 pm
              li
                i.icons.icon-location
                |  340 W 50th St.New York
        // /Event
        // Event
        li
          .date
            span
              span.day 8
              span.month JAN
          .event-content
            h6
              a(href='event-post-v2.html') Sed in lacus ut enim
            ul.event-meta
              li
                i.icons.icon-clock
                |  4:00 pm - 6:00 pm
              li
                i.icons.icon-location
                |  340 W 50th St.New York
        // /Event
      a.button.transparent.button-arrow(href='news.html') 更多...
  if content_type == 'notification'
    .sidebar-box.category-box.white.animate-onscroll
      h3 最新公告
      ul
        li
          a(href='#') Clothing
        li
          a(href='#') Music
        li
          a(href='#') Posters
      a.button.transparent.button-arrow(href='inform.html') 更多...

  .sidebar-box.social-media.animate-onscroll
    h3 合作单位
    ul.social-icons
      li.facebook
        a.tooltip-ontop(href='#', title='Facebook')
          i.icons.icon-facebook
      li.twitter
        a.tooltip-ontop(href='#', title='Twitter')
          i.icons.icon-twitter
      li.google
        a.tooltip-ontop(href='#', title='Google Plus')
          i.icons.icon-gplus
      li.youtube
        a.tooltip-ontop(href='#', title='Youtube')
          i.icons.icon-youtube-1
      li.flickr
        a.tooltip-ontop(href='#', title='Flickr')
          i.icons.icon-flickr-4
      li.email
        a.tooltip-ontop(href='#', title='Email')
          i.icons.icon-mail
// /Sidebar