// Newsletter
.col-lg-4.col-md-5.col-sm-5
  table
    tr
      td 
        strong Username
      td
        a(href='/index.html') Exit
      td
        a(href='/index.html') Manage Pages    
//-   form#newsletter(action='/php/newsletter-form.php', method='POST')
//-     h5#newsletter-header
//-       strong
//-         a(href='/register')
//-           u 注册
//-       |  以登陆研究平台
//-     .newsletter-form
//-       .newsletter-email
//-         input#newsletter-input-username(type='text', name='username', placeholder='请输入账号')
//-       .newsletter-zip
//-         input#newsletter-input-password(type='text', name='password', placeholder='请输入密码')
//-       .newsletter-submit
//-         input(type='submit', value='')
//-         i.icons.icon-right-thin
// /Newsletter