// User_Status
.user-state-div
  - var user_login = false
  if user_login
    a(href='/index.html') Username
    <br>
    a(href='/', onclick='javascript:event.target.port=8080') Administration
    <br>
    a(href='/index.html') Exit
  else
    p#newsletter-header
      strong
        a(href='/register')
          u 注册
      |  以登陆研究平台

    input#newsletter-input-username(type='text', name='username', placeholder='请输入账号')
    input#newsletter-input-password(type='password', name='password', placeholder='请输入密码')
    input#newsletter-input-submit(type='submit', value='提交')

