// User_Status
.user-state-div
  if user_login
    a(href='/#') #{username}
    <br>
    a(href='/#') Manage Pages
    <br>
    a(href='/logout') Exit
  else
    a(href='/register')
      u 注册
    |  以登陆研究平台
    //- .newsletter-form
    form(action='/login', method='POST')
      input(type='text', name='username', placeholder='请输入账号')
      input(type='password', name='password', placeholder='请输入密码')
      input(type='submit', value='submit')
