// User_Status
.user-state-div
  if user_login
    p
      a(href='/#') #{username}
    <br>
    p#user-status-manage
      a(href='/#', onclick='javascript:event.target.port=8080') 管理
    <br>
    p#user-status-exit
      a(href='/logout') 退出
  else
    p#user-status
      strong
        a(href='/register')
          u 注册
      |  以登陆研究平台
    form(action='/login', method='POST')
      input#user-status-username(type='text', name='username', placeholder='请输入账号')
      input#user-status-password(type='password', name='password', placeholder='请输入密码')
      input#user-status-submit(type='submit', value='提交')
